USE [consultations_new]
GO
/****** Object:  UserDefinedFunction [dbo].[GetConsultantRating]    Script Date: 06.05.2015 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetConsultantRating] 
(
	@consultantId int
)
RETURNS numeric
AS
BEGIN
	-- Declare the return variable here
	DECLARE @res numeric(18,2)

	-- Add the T-SQL statements to compute the return value here
	SELECT @res=AVG(customer_rating) from consultations where ConsultantId=@consultantId
	-- Return the result of the function
	RETURN @res

END






GO
/****** Object:  Table [dbo].[AdminMessages]    Script Date: 06.05.2015 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminMessages](
	[adminMessageId] [int] IDENTITY(1,1) NOT NULL,
	[parentMessageId] [int] NOT NULL,
	[fromUserId] [int] NOT NULL,
	[toUserId] [int] NOT NULL,
	[subject] [nvarchar](500) NULL,
	[message] [nvarchar](max) NULL,
	[dateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminMessages] PRIMARY KEY CLUSTERED 
(
	[adminMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consultants]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultants](
	[ConsultantId] [int] IDENTITY(1,1) NOT NULL,
	[ProfessionId] [int] NOT NULL,
	[SpecialtyId] [int] NULL,
	[specialization] [nvarchar](512) NULL,
	[UserId] [int] NOT NULL,
	[education] [nvarchar](1024) NULL,
	[workplace] [nvarchar](2048) NULL,
	[active] [bit] NOT NULL CONSTRAINT [DF_Consultants_active]  DEFAULT ((0)),
	[short_resume] [nvarchar](2000) NULL,
	[comission_percent] [numeric](18, 2) NULL,
	[photo_url] [nvarchar](512) NULL,
 CONSTRAINT [PK_ConsultantsSet] PRIMARY KEY CLUSTERED 
(
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consultation_Statuses]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultation_Statuses](
	[ConsultationStatusId] [int] IDENTITY(1,1) NOT NULL,
	[status_title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_consultation_statuses] PRIMARY KEY CLUSTERED 
(
	[ConsultationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consultation_Time]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultation_Time](
	[consultationTimeId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationId] [int] NULL,
	[startTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[skypeContact] [nvarchar](512) NULL,
	[phoneContact] [nvarchar](512) NULL,
 CONSTRAINT [PK_Consultation_Time] PRIMARY KEY CLUSTERED 
(
	[consultationTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consultation_Types]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultation_Types](
	[ConsultationTypeId] [int] IDENTITY(1,1) NOT NULL,
	[consultation_type] [nvarchar](512) NOT NULL,
	[active] [tinyint] NOT NULL CONSTRAINT [DF_consultation_types_active]  DEFAULT ((1)),
 CONSTRAINT [PK_consultation_types] PRIMARY KEY CLUSTERED 
(
	[ConsultationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[ConsultationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ConsultantId] [int] NULL,
	[subject] [nvarchar](max) NULL,
	[consultation_type] [int] NOT NULL,
	[ProfessionId] [int] NOT NULL,
	[SpecialtyId] [int] NULL,
	[consultation_status] [int] NOT NULL CONSTRAINT [DF_consultations_consultation_status]  DEFAULT ((0)),
	[create_date] [datetime] NOT NULL CONSTRAINT [DF_consultations_create_date]  DEFAULT (getdate()),
	[update_date] [datetime] NOT NULL CONSTRAINT [DF_consultations_update_date]  DEFAULT (getdate()),
	[customer_rating] [decimal](18, 1) NULL,
	[customer_comments] [nvarchar](4000) NULL,
	[consultation_price] [numeric](18, 2) NOT NULL CONSTRAINT [DF_consultations_consultation_price]  DEFAULT ((0)),
 CONSTRAINT [PK_consultations] PRIMARY KEY CLUSTERED 
(
	[ConsultationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[country_code] [nvarchar](50) NULL,
	[country_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [int] IDENTITY(11,1) NOT NULL,
	[title] [nvarchar](512) NULL,
	[url] [nvarchar](1024) NULL,
	[roles] [nvarchar](50) NULL,
	[parent_id] [int] NULL,
	[sort_order] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationId] [int] NULL,
	[message] [nvarchar](max) NULL,
	[added_date] [smalldatetime] NULL,
	[attachment] [nvarchar](1024) NULL,
	[UserId] [int] NULL,
	[published] [tinyint] NOT NULL CONSTRAINT [DF_messages_published]  DEFAULT ((0)),
 CONSTRAINT [PK_messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Professions]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professions](
	[ProfessionId] [int] IDENTITY(1,1) NOT NULL,
	[Profession_Title] [nvarchar](512) NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_Professions_Active]  DEFAULT ((1)),
 CONSTRAINT [PK_Professions] PRIMARY KEY CLUSTERED 
(
	[ProfessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[role_title] [nvarchar](512) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[SpecialtyId] [int] IDENTITY(1,1) NOT NULL,
	[Specialty_title] [nvarchar](512) NULL,
	[ProfessionId] [int] NOT NULL,
	[active] [bit] NOT NULL CONSTRAINT [DF_Specialties_deleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Specialties] PRIMARY KEY CLUSTERED 
(
	[SpecialtyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[amount] [numeric](18, 2) NOT NULL,
	[transactionDate] [datetime] NOT NULL CONSTRAINT [DF_transactions_transactionDate]  DEFAULT (getdate()),
	[description] [nvarchar](4000) NULL,
	[ConsultationId] [int] NULL,
 CONSTRAINT [PK_transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.05.2015 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[nickname] [nvarchar](50) NULL,
	[password] [nvarchar](50) NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[firstname] [nvarchar](128) NOT NULL,
	[lastname] [nvarchar](128) NOT NULL,
	[middlename] [nvarchar](128) NULL,
	[street_address] [nvarchar](1024) NULL,
	[city] [nvarchar](512) NULL,
	[CountryId] [int] NULL,
	[zip] [nvarchar](50) NULL,
	[state] [nvarchar](256) NULL,
	[phone] [nvarchar](50) NULL,
	[wants_newsletter] [smallint] NOT NULL CONSTRAINT [DF_Users_wants_newsletter]  DEFAULT ((0)),
	[alternate_contacts] [nvarchar](1024) NULL,
	[comments] [nvarchar](1024) NULL,
	[can_publish_questions] [smallint] NOT NULL CONSTRAINT [DF_Users_can_publish_questions]  DEFAULT ((0)),
	[RoleId] [int] NOT NULL CONSTRAINT [DF_Users_role_id]  DEFAULT ((3)),
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Consultants] ON 

INSERT [dbo].[Consultants] ([ConsultantId], [ProfessionId], [SpecialtyId], [specialization], [UserId], [education], [workplace], [active], [short_resume], [comission_percent], [photo_url]) VALUES (2, 1, 3, N'sadfsdg', 20, N'', N'', 1, N'rgtr', NULL, N'/uploads/Penguins.jpg')
INSERT [dbo].[Consultants] ([ConsultantId], [ProfessionId], [SpecialtyId], [specialization], [UserId], [education], [workplace], [active], [short_resume], [comission_percent], [photo_url]) VALUES (3, 1, 1, N'невропотолог', 23, N'аваыв', N'ываыва', 1, N'цкцуКраткое резюме для клиентов: ', NULL, N'')
SET IDENTITY_INSERT [dbo].[Consultants] OFF
SET IDENTITY_INSERT [dbo].[Consultation_Statuses] ON 

INSERT [dbo].[Consultation_Statuses] ([ConsultationStatusId], [status_title]) VALUES (1, N'Новый')
INSERT [dbo].[Consultation_Statuses] ([ConsultationStatusId], [status_title]) VALUES (2, N'Принят консультантом')
INSERT [dbo].[Consultation_Statuses] ([ConsultationStatusId], [status_title]) VALUES (3, N'Завершен')
SET IDENTITY_INSERT [dbo].[Consultation_Statuses] OFF
SET IDENTITY_INSERT [dbo].[Consultation_Time] ON 

INSERT [dbo].[Consultation_Time] ([consultationTimeId], [ConsultationId], [startTime], [endTime], [skypeContact], [phoneContact]) VALUES (3, 22, CAST(N'2015-02-15 20:57:00.000' AS DateTime), CAST(N'2015-02-15 21:57:00.000' AS DateTime), N'123', N'123')
INSERT [dbo].[Consultation_Time] ([consultationTimeId], [ConsultationId], [startTime], [endTime], [skypeContact], [phoneContact]) VALUES (4, 22, CAST(N'2015-02-17 20:57:00.000' AS DateTime), CAST(N'2015-02-17 21:57:00.000' AS DateTime), N'123', N'123')
INSERT [dbo].[Consultation_Time] ([consultationTimeId], [ConsultationId], [startTime], [endTime], [skypeContact], [phoneContact]) VALUES (1002, 1022, CAST(N'2015-02-24 20:57:00.000' AS DateTime), CAST(N'2015-02-24 21:57:00.000' AS DateTime), N'123', N'123')
SET IDENTITY_INSERT [dbo].[Consultation_Time] OFF
SET IDENTITY_INSERT [dbo].[Consultation_Types] ON 

INSERT [dbo].[Consultation_Types] ([ConsultationTypeId], [consultation_type], [active]) VALUES (1, N'Стандартная консультация', 1)
INSERT [dbo].[Consultation_Types] ([ConsultationTypeId], [consultation_type], [active]) VALUES (2, N'Телефонная консультация', 1)
INSERT [dbo].[Consultation_Types] ([ConsultationTypeId], [consultation_type], [active]) VALUES (3, N'Персональная консультация', 0)
SET IDENTITY_INSERT [dbo].[Consultation_Types] OFF
SET IDENTITY_INSERT [dbo].[Consultations] ON 

INSERT [dbo].[Consultations] ([ConsultationId], [UserId], [ConsultantId], [subject], [consultation_type], [ProfessionId], [SpecialtyId], [consultation_status], [create_date], [update_date], [customer_rating], [customer_comments], [consultation_price]) VALUES (6, 13, 2, N'Вопрос терапевту', 1, 1, 1, 3, CAST(N'2014-05-22 01:08:35.257' AS DateTime), CAST(N'2014-09-04 14:39:40.587' AS DateTime), CAST(7.0 AS Decimal(18, 1)), N'Мой первый комментарий', CAST(0.00 AS Numeric(18, 2)))
INSERT [dbo].[Consultations] ([ConsultationId], [UserId], [ConsultantId], [subject], [consultation_type], [ProfessionId], [SpecialtyId], [consultation_status], [create_date], [update_date], [customer_rating], [customer_comments], [consultation_price]) VALUES (7, 13, NULL, N'Вопрос адвокату', 1, 2, 2, 4, CAST(N'2014-05-22 01:11:05.620' AS DateTime), CAST(N'2014-05-22 01:11:05.620' AS DateTime), NULL, NULL, CAST(0.00 AS Numeric(18, 2)))
INSERT [dbo].[Consultations] ([ConsultationId], [UserId], [ConsultantId], [subject], [consultation_type], [ProfessionId], [SpecialtyId], [consultation_status], [create_date], [update_date], [customer_rating], [customer_comments], [consultation_price]) VALUES (8, 13, NULL, N'ждэжwrtre[gpof[sd', 1, 2, 2, 4, CAST(N'2014-06-17 23:33:18.613' AS DateTime), CAST(N'2014-06-17 23:33:18.613' AS DateTime), NULL, NULL, CAST(0.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Consultations] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [country_code], [country_name]) VALUES (1, N'', N'Австралия')
INSERT [dbo].[Countries] ([CountryId], [country_code], [country_name]) VALUES (2, N'', N'Австрия')
INSERT [dbo].[Countries] ([CountryId], [country_code], [country_name]) VALUES (3, N'', N'Азербайджан')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([MenuId], [title], [url], [roles], [parent_id], [sort_order]) VALUES (1, N'Личные данные ', N'/Account/PersonalInformation.aspx', N'2,3', NULL, NULL)
INSERT [dbo].[Menu] ([MenuId], [title], [url], [roles], [parent_id], [sort_order]) VALUES (2, N'История счета', N'/Account/Transactions.aspx', N'2,3', NULL, NULL)
INSERT [dbo].[Menu] ([MenuId], [title], [url], [roles], [parent_id], [sort_order]) VALUES (3, N'Мои консультации', N'/Account/Consultations.aspx', N'3', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [ConsultationId], [message], [added_date], [attachment], [UserId], [published]) VALUES (1, 6, N'????? ?????????', CAST(N'2014-08-28 14:38:00' AS SmallDateTime), N'', 20, 0)
INSERT [dbo].[Messages] ([MessageId], [ConsultationId], [message], [added_date], [attachment], [UserId], [published]) VALUES (2, 6, N'?????????', CAST(N'2014-08-28 14:39:00' AS SmallDateTime), N'', 20, 0)
INSERT [dbo].[Messages] ([MessageId], [ConsultationId], [message], [added_date], [attachment], [UserId], [published]) VALUES (6, 12, N'это перевый ответ на запрос от  8-09-2014', CAST(N'2014-09-08 23:51:00' AS SmallDateTime), N'', 20, 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Professions] ON 

INSERT [dbo].[Professions] ([ProfessionId], [Profession_Title], [Active]) VALUES (1, N'Доктор', 1)
INSERT [dbo].[Professions] ([ProfessionId], [Profession_Title], [Active]) VALUES (2, N'Юрист', 1)
INSERT [dbo].[Professions] ([ProfessionId], [Profession_Title], [Active]) VALUES (3, N'Механик', 1)
SET IDENTITY_INSERT [dbo].[Professions] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [role_title]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleId], [role_title]) VALUES (2, N'Консультант')
INSERT [dbo].[Roles] ([RoleId], [role_title]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Specialties] ON 

INSERT [dbo].[Specialties] ([SpecialtyId], [Specialty_title], [ProfessionId], [active]) VALUES (1, N'Терапевт', 1, 1)
INSERT [dbo].[Specialties] ([SpecialtyId], [Specialty_title], [ProfessionId], [active]) VALUES (2, N'Адвокат', 2, 1)
INSERT [dbo].[Specialties] ([SpecialtyId], [Specialty_title], [ProfessionId], [active]) VALUES (3, N'Косметолог', 1, 1)
SET IDENTITY_INSERT [dbo].[Specialties] OFF
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionId], [UserId], [amount], [transactionDate], [description], [ConsultationId]) VALUES (1, 13, CAST(50.00 AS Numeric(18, 2)), CAST(N'2014-04-18 20:21:13.397' AS DateTime), N'444', NULL)
INSERT [dbo].[Transactions] ([TransactionId], [UserId], [amount], [transactionDate], [description], [ConsultationId]) VALUES (2, 13, CAST(-5.00 AS Numeric(18, 2)), CAST(N'2014-04-18 20:21:13.397' AS DateTime), N'555', NULL)
INSERT [dbo].[Transactions] ([TransactionId], [UserId], [amount], [transactionDate], [description], [ConsultationId]) VALUES (8, 13, CAST(-10.00 AS Numeric(18, 2)), CAST(N'2014-05-22 01:11:05.620' AS DateTime), N'Оплата консультации №7', 7)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [nickname], [password], [email], [firstname], [lastname], [middlename], [street_address], [city], [CountryId], [zip], [state], [phone], [wants_newsletter], [alternate_contacts], [comments], [can_publish_questions], [RoleId]) VALUES (13, N'', N'202cb962ac59075b964b07152d234b70', N'kshakalov@gmail.com', N'Konstantin', N'Shakalov', N'', N'', N'', 1, N'', N'', N'', 0, N'', N'', 0, 3)
INSERT [dbo].[Users] ([UserId], [nickname], [password], [email], [firstname], [lastname], [middlename], [street_address], [city], [CountryId], [zip], [state], [phone], [wants_newsletter], [alternate_contacts], [comments], [can_publish_questions], [RoleId]) VALUES (20, N'', N'202cb962ac59075b964b07152d234b70', N'jarosoft@mail.ru', N'afgrehtw', N'erthyt', N'tdhfrhw', N'asdfsd', N'sadfs', 17, N'', N'', N'', 0, N'', N'', 0, 2)
INSERT [dbo].[Users] ([UserId], [nickname], [password], [email], [firstname], [lastname], [middlename], [street_address], [city], [CountryId], [zip], [state], [phone], [wants_newsletter], [alternate_contacts], [comments], [can_publish_questions], [RoleId]) VALUES (21, NULL, N'202cb962ac59075b964b07152d234b70', N'shakalov.k@gmail.com', N'Admin', N'Admin', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[AdminMessages] ADD  CONSTRAINT [DF_AdminMessages_parentMessageId]  DEFAULT ((0)) FOR [parentMessageId]
GO
ALTER TABLE [dbo].[AdminMessages] ADD  CONSTRAINT [DF_AdminMessages_toUserId]  DEFAULT ((0)) FOR [toUserId]
GO
ALTER TABLE [dbo].[AdminMessages] ADD  CONSTRAINT [DF_AdminMessages_dateCreated]  DEFAULT (getdate()) FOR [dateCreated]
GO
ALTER TABLE [dbo].[AdminMessages]  WITH CHECK ADD  CONSTRAINT [FK_AdminMessages_AdminMessages] FOREIGN KEY([parentMessageId])
REFERENCES [dbo].[AdminMessages] ([adminMessageId])
GO
ALTER TABLE [dbo].[AdminMessages] CHECK CONSTRAINT [FK_AdminMessages_AdminMessages]
GO
ALTER TABLE [dbo].[Consultants]  WITH CHECK ADD  CONSTRAINT [FK_Consultants_Professions] FOREIGN KEY([ProfessionId])
REFERENCES [dbo].[Professions] ([ProfessionId])
GO
ALTER TABLE [dbo].[Consultants] CHECK CONSTRAINT [FK_Consultants_Professions]
GO
ALTER TABLE [dbo].[Consultants]  WITH CHECK ADD  CONSTRAINT [FK_Consultants_Specialties] FOREIGN KEY([SpecialtyId])
REFERENCES [dbo].[Specialties] ([SpecialtyId])
GO
ALTER TABLE [dbo].[Consultants] CHECK CONSTRAINT [FK_Consultants_Specialties]
GO
ALTER TABLE [dbo].[Consultants]  WITH CHECK ADD  CONSTRAINT [FK_Consultants_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Consultants] CHECK CONSTRAINT [FK_Consultants_Users]
GO
ALTER TABLE [dbo].[Consultation_Time]  WITH CHECK ADD  CONSTRAINT [FK_Consultation_Time_Consultations] FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[Consultation_Time] CHECK CONSTRAINT [FK_Consultation_Time_Consultations]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Consultants] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Consultants] ([ConsultantId])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Consultants]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Consultation_Statuses] FOREIGN KEY([consultation_status])
REFERENCES [dbo].[Consultation_Statuses] ([ConsultationStatusId])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Consultation_Statuses]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Consultation_Types] FOREIGN KEY([consultation_type])
REFERENCES [dbo].[Consultation_Types] ([ConsultationTypeId])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Consultation_Types]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Professions] FOREIGN KEY([ProfessionId])
REFERENCES [dbo].[Professions] ([ProfessionId])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Professions]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Specialties] FOREIGN KEY([SpecialtyId])
REFERENCES [dbo].[Specialties] ([SpecialtyId])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Specialties]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Menu] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Menu]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Consultations] FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Consultations]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users]
GO
ALTER TABLE [dbo].[Specialties]  WITH CHECK ADD  CONSTRAINT [FK_Specialties_Professions] FOREIGN KEY([ProfessionId])
REFERENCES [dbo].[Professions] ([ProfessionId])
GO
ALTER TABLE [dbo].[Specialties] CHECK CONSTRAINT [FK_Specialties_Professions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Consultations] FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Consultations]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Countries]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
