/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #fff;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #4586ff;
}

a:link, a:visited
{
    color: #4a89f9;
}

a:hover
{
    color: #83afff;
    text-decoration: underlined;
}

a:active
{
    color: #83afff;
}

p
{
    margin:10px 10px 10px 10px;
    line-height: 1.6em;
    text-align:left;
    text-indent:20px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #4586ff;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.4em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight:bold;
    font-family:Tahoma;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    margin-top:10px;
}

h3
{
    font-size: 1.2em;
    font-weight:bold;
    margin-top:0;
}

h4
{
    font-size: 1.1em;
    margin-top:0;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.mainContentDiv
{
    float:left;
    width:78%;
  /*  margin-top:20px;*/
    
}
.page
{
    width: 960px;
    background-color: #fff;
    margin: 0px auto 0px auto;
    /*border: 1px solid #496077;*/
}

.header
{
    position: relative;
    margin:0px 0px 100px 0px;
    padding: 0px;
    background: #fff;
    height:60px;
    width: 100%;
}

.logo
{
    position: relative;
    margin:0px;
    padding: 0px;
    background: #fff;
    float:left;
    height:50px;
}
.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    /*padding: 0px 12px;
    margin: 12px 8px 8px 8px;*/
    min-height: 420px;
    clear:both;
    float:left;
}

.leftCol
{
   /* padding-left:20px;*/
    /*margin: 12px 8px 8px 8px;*/
    margin-right:30px;
    text-align:center;
    border: 1px solid #83afff;
    float:left;
    width: 170px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.menuline
{
    background:url(/images/menu_line.png) repeat-x;
    height:8px;
    line-height:8px;
    margin-left:200px;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
   /* padding: 4px 0px 4px 8px;*/
    float:left;
    margin-top:20px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    font-size:1.2em;
    font-weight:bold;
}

div.left_column_header
{
    float:left;
    width:100%;
    text-align:center;
    background-color:#5c96ff;
    color:White;
    font-size:1.1em;
    line-height:1.5em;
    font-weight:bold;
    font-family:Verdana;
}

div.menu ul li a, div.menu ul li a:visited
{
    text-align:center;
    padding-right:50px;
    text-decoration:none;
}

div.menu ul li a:hover
{
    color: #83afff;
    text-decoration:blink;
}



/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    width: 320px;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 102%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    font-weight:bold;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
    min-width:250px;
}


 div.AnyTime-win {z-index:9999999;}